@model webApp_manha.Entidade.Categorias

<form action="/Categorias/SalvarDados" method="post" >
    <input name="Name" type="text" class="form-control"/>
    <input type="checkbox" checked name="Ativo" />
    <button type="submit">
        salvar
    </button>
</form>