@model webApp_manha.Models.ClienteViewModel



<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">

        @if (@TempData["Erro"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Erro"]
            </div>

        }


        <div class="card">
            <div class="card-header">
                Cadrasto do Cliente
            </div>

            <div class="card-body">
                <form action="/Cliente/SalvarDados" method="post">
                    <labe>Nome</labe>
                    <input type="text" name="Nome" class="form-control" value="@Model.Nome" />

                    <label>Telefone</label>
                    <input type="text" name="Telefone" class="form-control" value="@Model.Telefone" />


                    <button type="submit" class="btn btn-dark" style="margin-top: 1rem;"> Salvar Cliente</button>
                </form>

            </div>
        </div>



    </div>
    <div class="col-4">
    </div>


</div>