<div class="box">
    <div class="text">
        <h1> Cadrasto</h1>
    </div>
    <ul class="info" style="padding: 0;">
        <ol><li>Nome</li><input type="text" value="" placeholder="Preencha"  required /> </ol>
        <ol><li>Email</li><input type="text" value="" placeholder="Preencha" required /> </ol>
        <ol><li>Senha</li><input type="password" value="" placeholder="Preencha" required /> </ol>
        <input type="checkbox" value="" >  Lembrar de mim 
    </ul>
</div>